header {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 30rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

/* header .overlay {
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
background-color: black;
opacity: 0.5;
z-index: 1;
} */

/* @media (pointer: coarse) and (hover: none) {
header {
background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
}
header video {
display: none;
}
} */

.ml15 {
  font-weight: 500;
  font-size: 2.8em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  color: white;
}

.ml15 .word {
  display: inline-block;
  line-height: 1em;
}

/* .navbar-nav li.active > a {
  color: #fff;
}
.navbar.navbarstyle{
  background:  #ffffff;
  box-shadow: 6px 6px 2px gray;
} */

nav.navbar{
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

nav.navbar-light {
  background-color: transparent;
  border-color: #080808;
}

nav.navbar.transparent {
  background-color:rgba(0,0,0,0);
}

.nav-item::after{
  content:'';
  display:block;
  width:0px;
  height:2px;
  background:blue;
  transition: 0.2s;
}
.nav-item:hover::after{
  width:100%;
}

.shadow{
  box-shadow: 6px 6px 2px grey;
}

.navbar-nav > li{
  padding-left:20px;
  padding-right:20px;
  font-size: 1.2em !important;
  font-family: 'Aclonica';
}

.navbar-brand {
  font-size: 1.8em !important;
  font-family: 'Aclonica';
}

.navbar.solid {
  background: white;
  box-shadow: 6px 6px 2px grey;
}

/* about style */
.about.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  padding-left: 80px;
  /* background: radial-gradient(circle at center, #222, #000); */
  /* color: #fff; */
}
.about.container-fluid * {
  box-sizing: border-box;
}
.about.container-fluid #wrap {
  width: 450px;
  height: 450px;
  position: relative;
  overflow: hidden;
  background: url("../image/about.jpg");
  color:#fff;
}
.about.container-fluid #wrap:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../image/about.jpg");
  background-size: cover
  -webkit-animation: zoomin 2.25s ease-in-out 1 forwards;
  animation: zoomin 2.25s ease-in-out 1 forwards;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
@-webkit-keyframes zoomin {
  to {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 0.3;
  }
}
@keyframes zoomin {
  to {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 0.3;
  }
}
.about.container-fluid #wrap .inner {
  position: absolute;
  width: 90%;
  height: 90%;
  left: 5%;
  top: 5%;
  overflow: hidden;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.5) 2px, rgba(255, 255, 255, 0) 2px), linear-gradient(to top, rgba(255, 255, 255, 0.5) 2px, rgba(255, 255, 255, 0) 2px), linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 2px, rgba(255, 255, 255, 0) 2px), linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 2px, rgba(255, 255, 255, 0) 2px), linear-gradient(to right, rgba(255, 255, 255, 0.5) 2px, rgba(255, 255, 255, 0) 2px), linear-gradient(to left, rgba(255, 255, 255, 0.5) 2px, rgba(255, 255, 255, 0) 2px);
  background-size: 50% 100%, 50% 100%, 50% 100%, 50% 100%;
  background-position: 0% 50%, 100% 50%, 0% 50%, 100% 50%;
  background-repeat: no-repeat;
  -webkit-animation: drawin 2s ease-in-out 1 forwards;
  animation: drawin 2s ease-in-out 1 forwards;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
  clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
}
@-webkit-keyframes drawin {
  0% {
    background-position: 0% 50%, 100% 50%,  0% 50%, 100% 50%, 50% 50%, 50% 50%;
    background-size: 0% 100%, 0% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 100% 0%, 100% 0%;
    -webkit-clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
    clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
  }
  25% {
    background-position: 0% 50%, 100% 50%, 0% 50%, 100% 50%, 50% -100%, 50% -100%;
    background-size: 0% 100%, 0% 100%, 50% 100%, 50% 100%, 100% 0%, 100% 0%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  75% {
    background-position: 0% 50%, 100% 50%, 0% 50%, 100% 50%, 50% 0%, 50% 0%;
    background-size: 0% 100%, 0% 100%, 50% 100%, 50% 100%, 100% 100%, 100% 100%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  100% {
    background-position: 0% 50%, 100% 50%, 0% 50%, 100% 50%, 50% 50%, 50% 50%;
    background-size: 50% 100%, 50% 100%, 50% 100%, 50% 100%, 100% 100%, 100% 100%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@keyframes drawin {
  0% {
    background-position: 0% 50%, 100% 50%,  0% 50%, 100% 50%, 50% 50%, 50% 50%;
    background-size: 0% 100%, 0% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 100% 0%, 100% 0%;
    -webkit-clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
    clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
  }
  25% {
    background-position: 0% 50%, 100% 50%, 0% 50%, 100% 50%, 50% -100%, 50% -100%;
    background-size: 0% 100%, 0% 100%, 50% 100%, 50% 100%, 100% 0%, 100% 0%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  75% {
    background-position: 0% 50%, 100% 50%, 0% 50%, 100% 50%, 50% 0%, 50% 0%;
    background-size: 0% 100%, 0% 100%, 50% 100%, 50% 100%, 100% 100%, 100% 100%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  100% {
    background-position: 0% 50%, 100% 50%, 0% 50%, 100% 50%, 50% 50%, 50% 50%;
    background-size: 50% 100%, 50% 100%, 50% 100%, 50% 100%, 100% 100%, 100% 100%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
/* .about.container #wrap h3 {
font-family: "Montserrat";
position: absolute;
bottom: 10px;
right: 10px;
font-size: 14px;
margin: 0px;
-webkit-transform: translateY(150%);
transform: translateY(150%);
-webkit-animation: slideup 0.5s ease-in-out 1 forwards;
animation: slideup 0.5s ease-in-out 1 forwards;
-webkit-animation-delay: 3.75s;
animation-delay: 3.75s;
} */
@-webkit-keyframes slideup {
  to {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@keyframes slideup {
  to {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
.about.container-fluid #wrap h1 {
  font-family: 'Merriweather';
  font-size: 55px;
  line-height: 1.15;
  margin: 0px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 20px;
  max-width: 80%;
  font-family: 'Faster One';
}
/* .about.container #wrap h1:before {
content: 'Who we are and<br>what we do';
position: absolute;
font-family: "Montserrat";
font-size: 14px;
top: -20px;
left: 20px;
opacity: 0.75;
-webkit-animation: slidein 1s ease-in-out 1 forwards;
animation: slidein 1s ease-in-out 1 forwards;
-webkit-transform: translateX(-400px);
transform: translateX(-400px);
-webkit-animation-delay: 2s;
animation-delay: 2s;
} */
.about.container-fluid #wrap h1 span {
  display: inline-block;
  font-size: 55px;
  margin-right: 5px;
  position: relative;
  -webkit-transform: translateX(-400px);
  transform: translateX(-400px);
  -webkit-animation: slidein 1s ease-in-out 1 forwards;
  animation: slidein 1s ease-in-out 1 forwards;
}
@-webkit-keyframes slidein {
  to {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@keyframes slidein {
  to {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}
.about.container-fluid #wrap h1 span:nth-of-type(1) {
  -webkit-animation-delay: 2.5454545455s;
  animation-delay: 2.5454545455s;
}
.about.container-fluid #wrap h1 span:nth-of-type(2) {
  -webkit-animation-delay: 2.5909090909s;
  animation-delay: 2.5909090909s;
}
.about.container-fluid #wrap h1 span:nth-of-type(3) {
  -webkit-animation-delay: 2.6363636364s;
  animation-delay: 2.6363636364s;
}
.about.container-fluid #wrap h1 span:nth-of-type(4) {
  -webkit-animation-delay: 2.6818181818s;
  animation-delay: 2.6818181818s;
}
.about.container-fluid #wrap h1 span:nth-of-type(5) {
  -webkit-animation-delay: 2.7272727273s;
  animation-delay: 2.7272727273s;
}
.about.container-fluid #wrap h1 span:nth-of-type(6) {
  -webkit-animation-delay: 2.7727272727s;
  animation-delay: 2.7727272727s;
}
.about.container-fluid #wrap h1 span:nth-of-type(7) {
  -webkit-animation-delay: 2.8181818182s;
  animation-delay: 2.8181818182s;
}
.about.container-fluid #wrap h1 span:nth-of-type(8) {
  -webkit-animation-delay: 2.8636363636s;
  animation-delay: 2.8636363636s;
}
.about.container-fluid #wrap h1 span:nth-of-type(9) {
  -webkit-animation-delay: 2.9090909091s;
  animation-delay: 2.9090909091s;
}
.about.container-fluid #wrap h1 span:nth-of-type(10) {
  -webkit-animation-delay: 2.9545454545s;
  animation-delay: 2.9545454545s;
}

/* contact */
.pb-100 {
  padding-bottom: 100px;
}
.pt-100 {
  padding-top: 100px;
}
.mb-100 {
  margin-bottom: 100px;
}
a {
  text-decoration: none;
  color: #333;
  -webkit-transition: .4s;
  transition: .4s;
}
.section-title {
  position: relative;
}
.section-title p {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 400;
}
.section-title h4 {
  font-size: 40px;
  font-weight: 600;
  text-transform: capitalize;
  position: relative;
  padding-bottom: 20px;
  display: inline-block;
}
.section-title h4::before {
  position: absolute;
  content: "";
  width: 80px;
  height: 2px;
  background-color: #d8d8d8;
  bottom: 0;
  left: 50%;
  margin-left: -40px;
}
.section-title h4::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 2px;
  background-color: #FF7200;
  left: 0;
  bottom: 0;
  left: 50%;
  margin-left: -25px;
}
.contact {
  background-image: url("http://infinityflamesoft.com/html/abal-preview/assets/img/contact_back.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  z-index: 2;
  color: #fff;
}
.contact-form input,
textarea {
  width: 100%;
  border: 1px solid #555;
  padding: 5px 10px;
  text-transform: capitalize;
  margin-top: 15px;
  background-color: transparent;
  color: #fff;
}
.contact:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #333;
  z-index: -1;
  opacity: .85;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
}
.single-contact {
  text-align: left;
  position: relative;
  padding-left: 70px;
  margin-bottom: 50px;
  margin-top: 10px;
}
.single-contact i.fa {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #FF7200;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 3px;
}
.single-contact h5 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 500;
}
.single-contact p {
  font-size: 15px;
  font-weight: 400;
}
.contact-form input[type="submit"] {
  background-color: #FF7200;
  border: 0px;
  cursor: pointer;
  font-size: 16px;
  -webkit-transition: .4s;
  transition: .4s
}
.contact-form input[type="submit"]:hover {
  background-color: #CC5B00
}
.contact-form input:focus, textarea:focus {
  border-color: #CC5B00
}

.carousel-inner,
.carousel,
.carousel-item,
.container,
.fill {
  height:100%;
  width:100%;
  background-position:center center;
  background-size:cover;
  color: black;
  text-align: center;
}
.slide-wrapper{
display:inline;
height: 100vh;
}


/*-------- Animation slider ------*/

 .animated{
animation-duration:3s;
-webkit-animation-duration:3s;
-moz-animation-duration:3s;
-ms-animation-duration:3s;
-o-animation-duration:3s;
visibility:visible;
opacity:1;
transition:all 0.3s ease;
}

.carousel-img{
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding-top: 5%;
}

. img{margin:auto;visibility:hidden; opacity:0; transition:all 0.3s ease; -webkit-transition:all 0.3s ease; -moz-transition:all 0.3s ease; -ms-transition:all 0.3s ease; -o-transition:all 0.3s ease;}
.item1 .carousel-img img , .item1.active .carousel-img img{max-height:300px;}
.item1.active .carousel-img img.animated{visibility:visible; opacity:1; transition:all 1s ease; -webkit-transition:all 1s ease; -moz-transition:all 1s ease; -ms-transition:all 1s ease; -o-transition:all 1s ease;
  animation-duration:2s; -webkit-animation-duration:2s; -moz-animation-duration:2s; -ms-animation-duration:2s; -o-animation-duration:2s; animation-delay:0.3s ; -webkit-animation-delay:0.3s;
  -moz-animation-delay:0.3s;-ms-animation-delay:0.3s; }
  .carousel-item.carousel-desc{color:#fff; text-align:center;}
  .carousel-item h2{font-size:50px; animation-delay:1.5s;animation-duration:1s; }
  .carousel-item p{animation-delay:2.5s;animation-duration:1s; width:50%; margin:auto;}

  .item2 .carousel-img img , .item2.active .carousel-img img{max-height:300px;}
  .item2.active .carousel-img img.animated{visibility:visible; opacity:1; transition:all 0.3s ease; animation-duration:3s; animation-delay:0.3s}
  .item2 h2 , item2.active h2{visibility:hidden; opacity:0; transition:all 5s ease;}
  .item2.active h2.animated{visibility:visible; opacity:1;  animation-delay:3s;}

  .carousel-item.fill{padding:0px 30px; display:table; }
  .carousel-item.inner-content{display: table-cell;vertical-align: middle;}
  .item3 .col-md-6{float:none; display:inline-block; vertical-align:middle; width:49%;}

  .item3.active .carousel-img img.animated{visibility:visible; opacity:1; transition:all 0.3s ease; animation-duration:2s; animation-delay:0.3s}
  .item3 h2 , item3.active h2{visibility:hidden; opacity:0; transition:all 5s ease; }
  .item.item3 .carousel-desc{text-align:left;}
  .item3.active h2.animated{visibility:visible; opacity:1;  animation-delay:1.5s}
  .item3 p , item3.active p{visibility:hidden; opacity:0; transition:all 5s ease; width:100%;  }
  .item3.active p.animated{visibility:visible; opacity:1;  animation-delay:2.5s;}

   @media(max-width:991px)
  {
  .carousel-item.carousel-desc , .item.item3 .carousel-desc{text-align:center;}
  .carousel-item.carousel-desc p {width:80%;}
  .item3 .col-md-6{width:100%; text-align:center;}
}
@media(max-width:768px)
{
.carousel-item.carousel-img img, .item.active .carousel-img img{max-height:155px;}
.carousel-item h2{font-size:30px; margin-top:0px;}
.carousel-item.carousel-desc p{width:100%; font-size:12px;}
}
@media(max-width:480px)
{
.carousel-item h2{font-size:30px;}
.item .carousel-desc p{width:100%;}
}

.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}
#arrow a {
  padding-top: 60px;
}
#arrow a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}
#arrow a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
#arrow a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255,255,255,.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
